#content-employer-create {
    width: 70%;
    padding-top: 30px;
    position: relative;
    margin-left: 110px;
    margin-right: 110px;
    padding-bottom: 80px;
    transition: margin-left 250ms ease-out, transform 250ms ease-out,
    -webkit-transform 250ms ease-out;
    /*padding-right: 74px;*/
}

/*.steps-content-div{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.row-stepper-center {
    display: flex !important;
    justify-content: center !important;
}

.create-vac-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    margin-bottom: 50px;
}

.create-vac-input:focus,
.create-vac-input-city:focus,
.create-vac-input-salary:focus,
.create-vac-input-salary-mobile:focus,
.create-vac-input-street:focus,
.create-vac-input-street-mobile:focus,
.login-input:focus,
.create-vac-input-city-mobile:focus {
    box-shadow: 0 0 0 2px #e6e6e6;
    border: 1px solid #e6e6e6;
    outline: none !important;
}

.create-vac-input-city {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    margin-right: 20px;
    /*margin-bottom: 50px !important;*/
}

.create-vac-input-city-mobile {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    /*margin-bottom: 25px !important;*/
}

.create-vac-input-street {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    margin-bottom: 50px !important;
}

.create-vac-input-street-mobile {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    margin-bottom: 50px !important;
}

.create-vac-input-salary {
    width: 35%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
}

.create-vac-input-salary-mobile {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
}

.create-vac-input-name {
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}

.create-vac-input-name-title {
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px !important;
    padding-bottom: 20px;
}

.create-vac-input-name-title-2 {
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px !important;
    padding-bottom: 20px;
}

.create-vac-input-name-salary {
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px !important;
    padding-bottom: 20px;
}

.create-vac-input-name-type {
    color: #212529;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}

.create-vac-input-name-sm {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}

.create-vac-input-name-sm-2 {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    margin-left: -40px;
}

.create-vac-input-name-sm-3 {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    margin-left: -83px;
}

.create-vac-input-name-sm-2-mob {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.create-vac-input-name-sm-3-mob {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}

.create-vac-input-name-sm-street {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    margin-left: -31px;
}

.create-vac-input-name-sm-street-mobile {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}

.col-for-margin {
    margin-bottom: 40px !important;
}

.bottom-create {
    margin-bottom: 40px;
}

.bottom-create-salary {
    margin-bottom: 20px;
}

.MuiRadio-colorPrimary.Mui-checked {
    color: #212529 !important;
}

.salary-create-vac {
    display: inline;
    font-size: 15px;
    margin-left: 15px !important;
}

.col-for-margin-sal {
    margin-bottom: 15px !important;
}

.salary-create-vac-vid {
    display: inline;
    font-size: 15px;
    margin-right: 15px !important;
}

.required-mark {
    margin-left: 3px !important;
    display: inline;
    font-size: 16px;
    color: #ff6f61;
}

#course-select-education-mob {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
    background: white;
}

#course-select-skills-mob {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
    background: white;
}

.create-vac-input-lang-2-mobile {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    /* margin-right: 20px; */
}

.bottom-create::placeholder,
.create-vac-input::placeholder,
.bottom-create-apply::placeholder,
.create-vac-input-salary::placeholder {
    color: #a2a2a2 !important;
}

.bottom-create-apply-new {
    margin-bottom: 10px;
}

.margin-english .MuiChip-label {
    font-size: 15px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#course-select-level-create-mobile {
    background-color: white !important;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
}

.margin-english {
    margin-bottom: 25px !important;
}

div#course-select-level-form-mobile {
    width: 100% !important;
}

div#course-select-level-form-mobile-2 {
    width: 100% !important;
}

#course-select-level-form-mobile-2 {
    margin-bottom: 50px !important;
}

#salary-choose-create .MuiSvgIcon-root {
    width: 17px !important;
    fill: #135393;
    height: 17px !important;
}

#mui-worktype .MuiFormControlLabel-root {
    margin-right: 0px !important;
}

#mui-worktype .PrivateSwitchBase-root-126 {
    padding-left: 0px !important;
}

#mui-worktype .PrivateSwitchBase-root-126:hover {
    background: none !important;
}

#mui-worktype .PrivateSwitchBase-root-126:active {
    background: none !important;
}

#mui-worktype .PrivateSwitchBase-input-129 {
    display: none !important;
}

#mui-worktype .MuiTouchRipple-root {
    display: none !important;
}

#mui-salary .PrivateSwitchBase-root-126:hover {
    background: none !important;
}

#mui-salary .PrivateSwitchBase-root-126:active {
    background: none !important;
}

#mui-salary .PrivateSwitchBase-input-129 {
    display: none !important;
}

#mui-salary .MuiTouchRipple-root {
    display: none !important;
}

.logo-mount-sidebar {
    height: 40px;
    width: 40px;
}

#leftCol-employer-sidebar {
    position: fixed;
    border-right: 1px solid #ebebec !important;
    /*background-color: #DDD;*/
    font-size: 16px;
    /*overflow-y: scroll;*/
    top: 0px;
    padding-top: 10px;
    bottom: 0;
    margin-left: 15px !important;
    /*padding-right: 15px !important;*/
    width: 90px !important;
    background: white;
}

.all-vac-employer-sidebar {
    font-size: 11.5px;
    color: #b5b6b7;
    font-weight: 400;
    margin-top: 50px;
    padding: 0px 0px 8px 0px;
}

.candidates-employer-sidebar {
    font-size: 11.5px;
    color: #b5b6b7;
    font-weight: 400;
    padding: 0px 0px 8px 0px;
}

.feather-file-text-sidebar {
    width: 22px;
    height: 22px;
    stroke: #b5b6b7;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-user-sidebar {
    width: 22px;
    height: 22px;
    stroke: #b5b6b7;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-chevron-down {
    width: 24px;
    height: 24px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-arrow-left-sidebar {
    width: 22px;
    height: 22px;
    stroke: #b5b6b7;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-smile-create {
    width: 22px;
    height: 22px;
    stroke: #212529;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-right: 10px;
    margin-bottom: 2px;
    fill: none;
}

.sidebar-column-back {
    position: absolute;
    bottom: 85px;
    left: 8px;
}

.back-to-site-btn {
    background: white;
    border: 1px solid #eaebec;
    border-radius: 100%;
    padding: 6px 8.5px 7.5px 8.5px;
}

.full-employer {
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
}

.full-employer-employer {
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
}

.logo-employer-sidebar {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    width: 120px;
    height: 27px;
    margin-left: 45px !important;
    /*margin-top: 4px;*/
    /*margin-left: -11px;*/
}

.employer-menu-text-sidebar {
    /*padding-left: 45px;*/
    margin-top: 112px !important;
}

.employer-menu-text-sidebar-not-top {
    margin-top: 10px !important;
}

.avatar-job-sidebar {
    color: #bdbebf;
    font-size: 14px;
    font-weight: 400;
    margin-top: -14px;
}

.avatar-picture-sidebar {
    height: 40px !important;
    width: 40px !important;
    /*margin-left: 15px;*/
    /*margin-right: -3px;*/
}

.avatar-name-sidebar {
    color: #212529 !important;
    font-size: 14px;
    font-weight: 400;
    /*padding-top: 9px;*/
}

.avatar-name-sidebar:hover {
    color: #135393 !important;
    text-decoration: none !important;
}

.sidebar-column {
    text-align: center;
}

.sidebar-column-avatar {
    display: flex;
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 12px;*/
}

.all-vac-employer-sidebar:hover,
.candidates-employer-sidebar:hover {
    text-decoration: none !important;
}

.employer-left-active:hover {
    color: #212529 !important;
}

.button-avatar {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 0px;
}

.button-avatar:focus,
.button-avatar:hover {
    box-shadow: 0 0 0 3px #ebebec;
}

.employer-left-active .feather-user-sidebar,
.employer-left-active .feather-file-text-sidebar {
    /*stroke: #212529 !important;*/
}

.title-vac-div div {
    /*background: deepskyblue;*/
    /*margin: 0px auto;*/
    /*padding-top: 15px*/
}

.title-vac-div {
    /*background: lightpink;*/
    /*margin: 0px -13px;*/
    /*padding: 10px;*/
}

.column-city {
    margin-right: 0px !important;
}

.column-street {
    margin-left: 0px !important;
}

/*#mui-worktype .MuiFormControlLabel-root {*/
/*    margin-left: -20px !important;*/
/*}*/

.buttons-vac-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    bottom: 0;
    background: #f6f6f6;
    padding: 20px;
    width: 100%;
    border-top: 1.5px solid #ebebec;
    box-shadow: 0 -15px 30px -13px rgba(111, 111, 111, 0.09) !important;
}

.column-buttons-right {
    display: flex;
    justify-content: flex-end;
}

.column-buttons-left {
    display: flex;
    justify-content: flex-start;
}

.check-vacancy-create-btn-div {
    display: flex;
    justify-content: flex-end;
}

#publish-btn-stepper {
    border: 1px solid #ff6f61;
    padding: 10px 40px !important;
    float: right;
    background-color: #ff6f61 !important;
    color: white !important;
    border-radius: 5px !important;
    text-transform: none !important;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-size: 16px !important;
}

#next-btn-stepper {
    padding: 8px 45px !important;
    float: right;
    border: 1px solid #212529;
    background-color: #212529 !important;
    color: white !important;
    border-radius: 5px !important;
    text-transform: none !important;
}

#next-btn-stepper:focus,
#publish-btn-stepper:focus,
#back-btn-stepper:focus,
.look-at-vac-btn:focus,
#publish-btn-stepper-top:focus {
    outline: none !important;
}

#back-btn-stepper {
    border-radius: 5px !important;
    border: 1px solid #212529 !important;
    padding: 8px 40px !important;
    text-transform: none !important;
}

#back-btn-stepper.Mui-disabled {
    border: 1px solid rgba(34, 34, 34, 0.19) !important;
}

#back-btn-stepper.Mui-disabled .feather-chevron-left-btn {
    stroke: rgba(34, 34, 34, 0.19) !important;
}

#stepper-icons .MuiStepIcon-root {
    width: 28px !important;
    height: 28px !important;
}

#stepper-icons .MuiStepIcon-root.MuiStepIcon-active {
    color: #212529 !important;
}

#stepper-icons .MuiStepIcon-root.MuiStepIcon-completed {
    color: #212529 !important;
}

#stepper-icons .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    font-weight: 600 !important;
    text-transform: uppercase;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
}

.RichTextEditor__root___2QXK- {
    background: #fff;
    border: 1px solid #ebebec;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
}

.EditorToolbar__root___3_Aqz {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    margin: 0 10px;
    padding: 10px 0 5px;
    background-color: white;
    border-bottom: 1px solid #ebebec;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
}

.RichTextEditor__editor___1QqIU {
    height: 300px;
}

.Button__root___1gz0c {
    display: inline-block;
    margin: 0 5px 0 9px;
    padding: 5px 5px 3px 5px;
    height: 30px;
    line-height: 22px;
    box-sizing: border-box;
    background: white;
    border: none;
    border-radius: 5px;
    color: #212529;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    white-space: nowrap;
}

.Button__root___1gz0c:hover {
    background-color: rgba(197, 197, 198, 0.22);
}

.ButtonGroup__root___3lEAn > div:first-child > button,
.ButtonGroup__root___3lEAn > div:last-child > button {
    border-radius: 5px;
}

.ButtonGroup__root___3lEAn > div > button {
    margin-right: 0;
    border-radius: 5px;
}

.public-DraftEditorPlaceholder-root {
    font-size: 14px;
    color: #dbdbdc;
}

.IconButton__icon-underline___2EmZJ,
.IconButton__icon-italic___2hHzc,
.IconButton__icon-bold___2zl9t,
.IconButton__icon-unordered-list-item___Pvkrr,
.IconButton__icon-ordered-list-item___2rzD0 {
    background-size: 22px;
}

.IconButton__icon-link___2umEl,
.IconButton__icon-remove-link___j61pw,
.IconButton__icon-undo___EQSRP,
.IconButton__icon-redo___30MVz {
    background-size: 18px;
}

.Button__root___1gz0c:disabled > * {
    opacity: 0.3;
}

.ButtonGroup__root___3lEAn {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 5px 0;
    white-space: nowrap;
}

.RichTextEditor__editor___1QqIU .public-DraftEditor-content,
.RichTextEditor__editor___1QqIU .public-DraftEditorPlaceholder-root {
    margin: 0;
    padding: 25px 20px;
}

.public-DraftEditor-content {
    color: #212529 !important;
    line-height: 1.2;
    font-size: 14px;
}

.row-text-editor {
    margin-top: 20px;
    justify-content: center;
}

.separator {
    height: 1px;
    background: #e1e1e2;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 255, 255, 0)),
            color-stop(25%, #e1e1e2),
            color-stop(75%, #e1e1e2),
            to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            #e1e1e2 25%,
            #e1e1e2 75%,
            rgba(255, 255, 255, 0)
    );
    margin-left: -50px;
    margin-right: -50px;
}

.separator-last {
    height: 1px;
    background: #e1e1e2;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 255, 255, 0)),
            color-stop(25%, #e1e1e2),
            color-stop(75%, #e1e1e2),
            to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            #e1e1e2 25%,
            #e1e1e2 75%,
            rgba(255, 255, 255, 0)
    );
    margin-bottom: 35px;
    margin-left: -50px !important;
    margin-right: -50px !important;
}

.separator-last-company {
    height: 1px;
    background: #e1e1e2;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 255, 255, 0)),
            color-stop(25%, #e1e1e2),
            color-stop(75%, #e1e1e2),
            to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            #e1e1e2 25%,
            #e1e1e2 75%,
            rgba(255, 255, 255, 0)
    );
    margin-bottom: 85px;
    margin-left: -50px !important;
    margin-right: -50px !important;
}

.panel-header {
    font-size: 18px !important;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #212529 !important;
}

.panel-create-vac:before {
    background-color: unset !important;
}

.panel-create-vac {
    padding: 0px !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    /*background-color: #61dafb !important;*/
    margin-top: 24px !important;
    margin-bottom: 15px !important;
}

.panel-create-vac .MuiExpansionPanelSummary-root,
.panel-create-vac-first .MuiExpansionPanelSummary-root {
    padding: 0px !important;
    background: #f6f6f6 !important;
}

.panel-create-vac-first {
    padding: 0px !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0px !important;
    /*background-color: #61dafb !important;*/
    margin-top: 44px !important;
    margin-bottom: 15px !important;
}

#panel1a-content .MuiExpansionPanelDetails-root {
    padding-right: 0px !important;
    padding-left: 0px !important;
    background: #f6f6f6 !important;
}

.row-expansion-panel-center {
    display: flex;
    justify-content: center;
}

.row-expansion-panel-center-mobile {
    display: flex;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

#panel1a-content .MuiExpansionPanelDetails-root {
    display: block !important;
}

#panel1a-header
.MuiExpansionPanelSummary-content.Mui-expanded
.MuiTypography-root.panel-header.MuiTypography-body1 {
    color: #135393 !important;
}

#panel1a-header
.MuiButtonBase-root.MuiIconButton-root.MuiExpansionPanelSummary-expandIcon.Mui-expanded.MuiIconButton-edgeEnd
.MuiIconButton-label
.feather-chevron-down {
    stroke: #135393 !important;
}

.text-div-panel {
    margin-bottom: 20px;
    font-size: 14px;
    color: #525a5e;
}

#next-btn-create-icon {
    stroke-width: 1;
    stroke: white;
    fill: white;
    width: 11.5px;
    height: 11.5px;
}

.feather-chevron-right-btn {
    width: 12px;
    height: 12px;
    stroke: white;
    margin-left: -3px;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.feather-chevron-left-btn {
    width: 12px;
    height: 12px;
    stroke: #212529;
    margin-right: -3px;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.row-vacancy-info-center {
    margin-top: 34px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
}

.row-vacancy-info-check {
    margin-top: 44px;
    margin-bottom: -30px;
    justify-content: center;
    display: flex;
}

.row-vacancy-info-check-mobile {
    margin-top: 44px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
}

.row-vacancy-info-center-mobile {
    margin-top: 34px;
    margin-bottom: -40px;
    justify-content: center;
    display: flex;
}

.full-create-vacancy {
    max-width: 1440px !important;
    margin: 0 auto;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.check-vacancy-create {
    margin-top: 5px;
    font-size: 25px;
    color: #212529;
    font-weight: 600;
    max-width: 39.1% !important;
}

#stepper-icons-apply {
    background: #f6f6f6 !important;
}

#publish-btn-stepper-top {
    /*margin-right: -30px !important;*/
    height: 45px !important;
    padding: 10px 40px !important;
    /*float: right;*/
    background-color: #ff6f61 !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: none !important;
    border: 1px solid #ff6f61;
    /*margin-top: -5px;*/
}

.loc-div-create {
    padding-bottom: 30px;
}

.location-map-create {
    /*margin-left: 15px;*/
    color: #2e3134;
    font-weight: 600;
    font-size: 17px;
    margin-top: 9px;
    margin-bottom: 15px;
}

.vacancy-text-address-create {
    font-size: 16px;
    color: #61676b;
    /*margin-top: 9px;*/
    margin-bottom: 10px;
}

.look-at-vac-btn {
    background-color: #ff6f61;
    border: 1px solid #ff6f61;
    padding: 13px 23px;
    border-radius: 5px;
    color: white !important;
    font-size: 16px;
    font-weight: 600;
}

.align-center-text {
    font-size: 20px;
    text-align: center;
    margin-top: 90px;
}

.align-center-btn {
    margin-top: 40px;
    justify-content: center;
    display: flex;
}

.look-at-vac-link:hover {
    text-decoration: none !important;
    color: white !important;
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 18px;
    background: white;
}

#stepper-icons {
    background: #f6f6f6 !important;
    padding-top: 5px !important;
}

.padding-top-create-vacancy-3 {
    padding-top: 30px !important;
}

.padding-top-create-vacancy-2 {
    padding-top: 10px !important;
}

.padding-top-create-vacancy-5 {
    padding-top: 20px !important;
}

.padding-top-create-vacancy-4 {
    padding-top: 33px !important;
}

#course-select-course {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 16px 30px 16px 15px;
    background: white;
}

.salary-full-width {
    width: 100% !important;
}

#course-select-course-mobile {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
    background: white;
}

#course-select-course-form {
    width: 100% !important;
    margin-bottom: 50px !important;
}

#course-select-course-form .MuiSelect-select:focus {
    background: white !important;
    box-shadow: none !important;
}

#course-select-course-form:focus {
    box-shadow: none !important;
    border: 1px solid #d2d2d3;
    outline: none !important;
}

#course-select-course-form .MuiSelect-icon {
    width: 24px !important;
    height: 24px !important;
    margin-right: 7px !important;
    margin-top: 0 !important;
}

.create-vac-input-lang-2::placeholder, .student-form-textarea-experience::placeholder, .salary-filter-input::placeholder{
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #a2a2a2 !important;
}

.course-placeholder {
    margin-bottom: 0 !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #a2a2a2 !important;
}

#course-select-education {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
    background: white;
}

#course-select-skills {
    width: 202px;
    margin-left: -84px;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 13px 30px 13px 15px;
    background: white;
}

.eng-lang-bold {
    display: inline;
    font-weight: 600;
}

.create-vac-input-lang-2 {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    /*margin-right: 20px;*/
}

.create-vac-input-lang-2:focus {
    box-shadow: none !important;
    border: 1px solid #d2d2d3 !important;
    outline: none !important;
}

.add-button-lang {
    background: #f6f6f6;
    border: none;
    border-radius: 100%;
    margin-left: -150px;
}

.add-button-lang-delete {
    /*float: right;*/
    position: absolute;
    top: 19px;
    background: #f6f6f6;
    border: none;
    border-radius: 100%;
    right: 190px;
}

.add-button-lang:focus,
.add-button-lang-delete:focus {
    outline: none !important;
}

.feather-plus-circle-create {
    width: 20px;
    height: 20px;
    stroke: #3e3e3e;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    margin-bottom: 3px;
}

.feather-x-create {
    width: 21px;
    height: 21px;
    stroke: rgba(33, 37, 41, 0.89);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.add-more-text {
    display: inline;
    font-size: 14px;
    margin-left: 8px;
    color: #3e3e3e;
}

.column-button-add {
    margin-top: 20px !important;
    text-align: center;
}

#course-select-level-create {
    background-color: white !important;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 16px 30px 16px 15px;
}

#course-select-level-form {
    width: 100% !important;
    margin-bottom: 25px !important;
}

.mobile-dropzone {
    margin-bottom: 25px;
}

.title-vac-div-mobile div {
    /*margin: 0px auto;*/
}

.title-vac-div-mobile {
    /*background: lightpink;*/
    /*padding: 10px;*/
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.steps-content-div-mobile {
    margin-bottom: 100px;
    margin-top: -30px;
}

.buttons-vac-div-apply-mobile {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

@media (min-width: 0px) and (max-width: 992px) {
    .add-btn-block-create {
        bottom: unset !important;
        right: unset !important;
    }
}

.separator-mobile {
    height: 1px;
    background: rgba(25, 115, 203, 0.24);
    background: linear-gradient(
            to right,
            rgba(25, 115, 203, 0),
            #1353932b 25%,
            #1353932b 75%,
            rgba(255, 255, 255, 0)
    );
    margin-bottom: 20px;
    margin-top: 20px;
    /* margin-left: -50px; */
    /* margin-right: -50px; */
}

#publish-btn-stepper-top-mobile {
    /* margin-right: -30px !important; */
    padding: 10px 40px !important;
    /* float: right; */
    background-color: #ff6f61 !important;
    color: white !important;
    border-radius: 5px !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: none !important;
    border: 1px solid #ff6f61;
    margin-top: 25px;
}

#publish-btn-stepper-top-mobile:focus {
    outline: none !important;
}

.check-vacancy-create-mobile {
    margin-top: 5px;
    font-size: 22px;
    color: #212529;
    font-weight: 600;
    /* max-width: 37.1% !important; */
}

@media (min-width: 314px) and (max-width: 992px) {
    .avatar-picture-upload-mobile {
        width: 60px !important;
        height: 60px !important;
        margin-right: 10px !important;
    }
}

@media (min-width: 0px) and (max-width: 313px) {
    .avatar-picture-upload-mobile {
        width: 45px !important;
        height: 45px !important;
        margin-right: 10px !important;
    }
}

.avatar-picture-upload-mobile {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    margin-left: 15px;
}

.apply-title-top {
    margin-top: 10px;
}

.padding-top-stepper {
    padding-top: 140px;
    padding-bottom: 140px;
}

.mountain-container-center {
    display: flex;
    justify-content: center;
}

.mount-bg {
    width: 80%;
    height: 200px;
    position: relative;
    bottom: -120px;
    margin-top: -80px;
    /*width: 100%;*/
    /*height: 240px;*/
    /*position: relative;*/
    /*bottom: -130px;*/
    /*margin-top: -90px;*/
}

.apply-buttons-fixed {
    position: fixed;
    bottom: 0;
    background: white;
    padding: 20px;
    border-top: 1px solid #ebebec;
}

.illustration-form-apply {
    background: #cbfffc;
}

.apply-progress-bar .MuiMobileStepper-progress {
    width: 82%;
    position: fixed !important;
    top: 64px !important;
    left: 240px;
}

.apply-progress-bar .MuiLinearProgress-root {
    height: 10px !important;
}

.apply-progress-bar .MuiLinearProgress-barColorPrimary {
    background-color: #ffd2ce !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.apply-progress-bar .MuiLinearProgress-colorPrimary {
    background-color: rgb(255, 236, 233) !important;
}

.apply-progress-bar .MuiMobileStepper-root {
    padding: 0 !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}

.apply-progress-bar {
    background-color: #f6f6f6 !important;
    box-shadow: 0 -15px 30px -13px rgba(111, 111, 111, 0.09) !important;
    padding: 16px 5px !important;
    border-top: 1px solid #ebebec !important;
    width: 100% !important;
    /*left: 0px !important;*/
}

.stepper-progress-div {
    display: flex;
    justify-content: center;
}

@media (min-width: 576px) {
    .column-for-button-one {
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .column-for-button-two {
        display: flex;
        justify-content: flex-end;
        padding-right: 70px;
    }
}

@media (min-width: 0px) and (max-width: 575px) {
    .column-for-button-one {
        display: flex;
        justify-content: flex-end;
    }

    .column-for-button-two {
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .separator-mobile-margin {
        margin-bottom: 25px;
    }

    .delete-separator-but {
        position: unset !important;
        bottom: unset !important;
        left: unset !important;
        margin-left: -10px !important;
    }

    .add-button-option-own {
        margin-top: 15px !important;
        margin-left: -10px !important;
    }

    .add-btn-block {
        bottom: 5vh !important;
        right: unset !important;
        left: 41vw !important;
        z-index: 2000 !important;
    }

    .span-form-header-input-all {
        margin-top: 20px;
    }

    .mount-bg {
        width: unset !important;
        bottom: -135px !important;
        margin-top: -130px !important;
    }

    .apply-progress-bar .MuiMobileStepper-progress {
        top: 58px !important;
    }

    .apply-progress-bar-student .MuiMobileStepper-progress {
        top: 60px !important;
    }

    .check-vacancy-create-mobile {
        margin-top: 5px;
        font-size: 22px;
        color: #212529;
        font-weight: 600;
        /* max-width: 39.1% !important; */
    }

    .check-vacancy-create-btn-div-mobile {
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

#autocomplete-width .MuiFormControl-root {
    width: 100% !important;
}

#autocomplete-width .MuiChip-root {
    font-size: 14px !important;
}

#autocomplete-width .MuiFilledInput-root {
    background: white !important;
    border-radius: 5px !important;
    border: 1px solid #ebebec !important;
}

#autocomplete-width .MuiFilledInput-underline:before,
#autocomplete-width .MuiFilledInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: '\00a0';
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: none !important;
    pointer-events: none;
}

#autocomplete-width .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.MuiStepIcon-text {
    font-size: 12px !important;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.MuiFormControl-root.salary-filter-form-mobile-apply{
    width: 100% !important;
    margin-bottom: 50px !important;
}

#mui-worktype .MuiTypography-body1 {
    font-size: 16px !important;
    color: #212529 !important;
    width: 100% !important;
}

#mui-worktype .MuiSvgIcon-root {
    height: 24px !important;
    width: 24px !important;
}

#mui-salary .MuiTypography-body1 {
    font-size: 15px !important;
    color: #484848 !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.first-question-step-0 {
    font-size: 28px;
    color: #212529;
    font-weight: 600;
    margin-bottom: 10px;
}

.first-question-step-0-text {
    font-size: 18px;
    color: #212529;
    margin-bottom: 35px;
}

.option-yes-text,
.option-no-text,
.option-help-text {
    font-size: 16px;
    color: #717171;
    margin-top: 5px;
    margin-bottom: 25px;
}

.label-radio {
    font-size: 20px !important;
    color: #212529 !important;
    font-weight: 600 !important;
}

.separator-line-step-0 {
    background: #e5e5e5;
    height: 1.5px;
    margin: 35px 0 55px 0;
}

.attach-resume-here {
    font-size: 28px;
    color: #212529;
    line-height: 1.23;
    font-weight: 600;
    margin-bottom: 50px;
}

.attach-resume-text {
    color: #717171;
    font-size: 16px;
}

.form-check-label {
    font-size: 20px;
    color: #212529;
}

@media (min-width: 0px) and (max-width: 992px) {
    .option-yes-text,
    .option-no-text,
    .option-help-text {
        font-size: 14px;
    }

    .attach-resume-here {
        font-size: 25px !important;
        margin-bottom: 40px !important;
    }

    .first-question-step-0 {
        font-size: 25px;
    }

    .first-question-step-0-text {
        font-size: 16px;
    }

    .form-check-label,
    .resume-link {
        font-size: 18px !important;
    }
}

.resume-link {
    color: #212529;
    font-size: 20px;
    border-bottom: 1.5px solid #212529;
}

.resume-link:hover {
    color: #212529;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid #212529;
}

.button-step-0 {
    width: 100%;
    padding: 13px 15px;
    background: #212529;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
}

.button-step-0:focus,
.button-step-0:hover {
    outline: none;
    background: #000;
}

button.button-step-0.disabled {
    background: #9c9c9c !important;
}

button.button-step-0.disabled:hover {
    cursor: not-allowed;
}

.padding-top-step-0 {
    padding-top: 130px;
}

.padding-block {
    padding-bottom: 100px;
}

.padding-block-no {
    padding-bottom: 150px;
}

.padding-block-help {
    padding-bottom: 250px;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type='radio']:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 22px;
    height: 22px;
    border: 2px solid #ff6f61;
    border-radius: 100%;
    background: #fff;
}

[type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 22px;
    height: 22px;
    border: 2px solid #9c9c9c;
    border-radius: 100%;
    background: #fff;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff6f61;
    position: absolute;
    top: 8px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type='radio']:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-check-label {
    margin-left: 10px;
}

.suggestion-box-create {
    width: 100%;
    top: 48px;
    /* margin-bottom: 49px; */
    padding: 12px 17px 2px 17px;
    /*position: absolute !important;*/
    margin-bottom: 45px;
    display: inline-block !important;
    left: 0 !important;
    z-index: 10 !important;
    box-shadow: 0 3px 6px 2px #89898921;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    white-space: normal !important;
    max-height: calc(100vh - 152px) !important;
    visibility: visible !important;
    background: rgb(255, 255, 255) !important;
    border: 0.5px solid #ebebec;
    border-radius: 0px 0px 8px 8px !important;
}

.suggestion-item {
    background: unset;
    border: none;
}

.suggestion-item:focus {
    outline: none;
}

.suggestion-text-city:before,
.suggestion-text-county:before,
.suggestion-text-street:before,
.suggestion-text-houseNumber:before {
    content: ',';
}

.suggestion-text-country,
.suggestion-text-city,
.suggestion-text-county,
.suggestion-text-street,
.suggestion-text-houseNumber {
    display: inline-block;
    margin-bottom: 0;
}

.choose-address {
    color: #9c9c9c;
    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 15px;
}

.address-box {
    /*border: 1.5px solid #ebebec;*/
    /*padding: 30px 20px 30px 20px;*/
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 5px;
    background: #f6f6f6;
}

.address-item-disabled {
    background: #ebebec;
    border: 1px solid #ebebec;
    border-radius: 5px;
    color: #212529;
    width: 100%;
    font-size: 16px;
    padding: 12px 15px;
}

.margin-bottom-item {
    margin-bottom: 10px;
}

.col-form-label {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.explanation-text-address {
    font-size: 14px;
    color: #717171;
    padding-bottom: 20px;
    margin-top: -10px;
}

.apply-input-2-disabled {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    margin-bottom: 50px;
    background: #ebebec;
}

#course-select-work-mobile-disabled {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 15px;
    padding: 16px 30px 16px 15px;
    background: #ebebec;
}

.create-vac-input-lang-mobile-disabled {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 12px 15px;
    background: #ebebec;
}

#course-select-level-mobile-disabled {
    background-color: #ebebec !important;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 15px 30px 15px 15px;
}

#course-select-course-2-mobile-disabled {
    border-radius: 5px;
    border: 1px solid #ebebec;
    font-size: 16px;
    padding: 15px 30px 15px 15px;
    background-color: #ebebec !important;
}

.MuiButtonBase-root.MuiChip-root.col-2.A1.MuiChip-outlined.Mui-disabled.MuiChip-clickable,
.MuiButtonBase-root.MuiChip-root.col-2.A2.MuiChip-outlined.Mui-disabled.MuiChip-clickable,
.MuiButtonBase-root.MuiChip-root.col-2.B1.MuiChip-outlined.Mui-disabled.MuiChip-clickable,
.MuiButtonBase-root.MuiChip-root.col-2.B2.MuiChip-outlined.Mui-disabled.MuiChip-clickable,
.MuiButtonBase-root.MuiChip-root.col-2.C1.MuiChip-outlined.Mui-disabled.MuiChip-clickable,
.MuiButtonBase-root.MuiChip-root.col-2.C2.MuiChip-outlined.Mui-disabled.MuiChip-clickable {
    background-color: #ebebec !important;
    opacity: 1 !important;
}

.salary-filter-input-disabled .MuiOutlinedInput-input {
    padding: 16px 0px !important;
    text-align: center !important;
    font-size: 15px !important;
    margin-left: 15px !important;
    margin-right: 5px !important;
    background-color: #ebebec !important;
}

.salary-filter-input-disabled .MuiOutlinedInput-notchedOutline {
    border-color: #ebebec !important;
}

.salary-filter-form-disabled .Mui-focused > .MuiOutlinedInput-notchedOutline {
    box-shadow: none !important;
    border: 1px solid #d2d2d3 !important;
    outline: none !important;
}

.salary-filter-input-disabled .MuiTypography-body1 {
    color: #717171 !important;
    font-size: 15px !important;
}

.salary-filter-input-disabled .MuiOutlinedInput-input::placeholder {
    color: #c3c3c3 !important;
}

.salary-filter-form-mobile-apply.disabled-backg .MuiOutlinedInput-root {
    background: #ebebec !important;
}

.form-creation-big-text {
    font-size: 24px;
    font-weight: 600;
    color: #212529;
    margin-top: 50px;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.H_copyright a {
    font-size: 11px !important;
}

.margin-bottom-all {
    margin-bottom: 110px;
}

#button-next-employer,
#button-back-employer {
    left: 110px;
}

.form-creation-big-text-second {
    font-size: 24px;
    font-weight: 600;
    color: #212529;
    margin-top: 30px;
    margin-bottom: 25px;
}

.english-buttons-employer {
    width: 100% !important;
    margin-bottom: 25px !important;
}

.button-english-width-employer {
    width: 100% !important;
    color: #212529 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.english-buttons-employer .MuiToggleButton-root.Mui-selected {
    border: 1.5px solid #212529 !important;
    background-color: #f6f6f6 !important;
}

.padding-top-stepper-employer {
    padding-top: 80px;
    padding-bottom: 40px;
    min-height: 500px;
}